{% extends "main.html" %}

{% block content %}

    <!-- ======= articles Section ======= -->
    <section id="article" class="article">
        <div class="container">
            <div class="section-title">
                <h2>Articles</h2>
                <p>Breast cancer articles provide comprehensive information about breast cancer. These resources aim to educate the public, patients and healthcare professionals.</p>
            </div>
            <div class="article-content">
                <h3>Age as a breast cancer risk factor</h3>
                <p class="fst-italic">Why is age related to breast cancer risk?</p>
                <p>Everyone alive is growing older. And as with many other diseases, your risk of breast cancer goes up as you get older. For example, according to the American Cancer Society, about 1 out of 8 invasive breast cancers develop in women younger than 45. About 2 out of 3 invasive breast cancers are found in women 55 or older.In fact, the aging process is one of the biggest risk factors for breast cancer in women. That's because the longer we live, there are more opportunities for genetic damage (mutations) in the body. And as we age, our bodies are less capable of repairing genetic damage. While you can't stop the aging process, you can make lifestyle choices that can keep your risk as low as it can be: maintaining a healthy weightexercising regularlylimiting alcoholeating nutritious foodnever smoking (or quitting if you do smoke)These are just a few of the steps you can take. Review the other breast cancer risk factors for more options.</p>
            </div>
            <div class="article-img">
                <img src="static/img/article-1.png" alt="" class="img-fluid">
            </div>
        </div>
    </section><!-- End articles Section -->

{% endblock %}