{% extends "main.html" %}

{% block content %}
    <!-- ======= articles Section ======= -->
    <section id="article" class="article">
        <div class="container">
            <div class="section-title">
                <h2>Articles</h2>
                <p>Breast cancer articles provide comprehensive information about breast cancer. These resources aim to educate the public, patients and healthcare professionals.</p>
            </div>
            <div class="article-content">
                <h3>Why body mass index Matters</h3>
                    <p class="fst-italic">Breast Cancer Risk Factors: Body Weight and Weight Gain</p>
                    <p>The link between body weight and the risk of breast cancer is complex. Breast cancer risk is related to both:
                        <ul>
                        <li>Body weight (and menopausal status)</li>
                        <li>Weight gain</li>
                        </ul>
                    <b>Body weight and BMI</b><br><br>
                    Body mass index (BMI) is a measure used to help show whether or not a person has a healthy weight.BMI includes a measure of height and weight. So, BMI is better than weight alone when making comparisons. Calculate your BMI or find your BMI in a table.For people ages 20 and older, weight status categories are: <br><br>
                    <table>
                        <tr>
                        <th><b>BMI</b></th>
                        <th><b>Body weight status</b></th>
                        </tr>
                        <tr>
                        <td>18.5 to 24.9</td>
                        <td>Normal</td>
                        </tr>
                        <tr>
                        <td>25.0 to 29.9</td>
                        <td>Overweight</td>
                        </tr>
                        <tr>
                        <td>30.0 and greater</td>
                        <td>Obese</td>
                        </tr>
                    </table>
                    <br>
                    <b>Body weight, breast cancer risk and menopausal status</b>
                    Studies show a link between BMI and breast cancer risk. However, the way it&apos;s linked to breast cancer risk differs before and after menopause.
                    <ul>
                        <li>Before menopause, women who are overweight or obese have a modestly decreased risk of breast cancer [74-78].</li>
                        <li>After menopause, women who are overweight or obese have an increased risk of breast cancer [74,76-79].</li>
                        </ul>
                    These risks may vary by race and ethnicity.<br><br><b>Body weight and breast cancer risk before menopause</b><br><br>Women who are overweight or obese before menopause have a 10%-20% lower risk of breast cancer than those who are lean [74-78].<br><br>Although being overweight or obese is linked to a lower risk of breast cancer before menopause, weight gain should be avoided [27]. This is because any weight gained before menopause may be carried into the postmenopausal years, and most breast cancers occur after menopause.<br><br>After menopause, being overweight is linked to increased breast cancer risk. The American Cancer Society recommends everyone get to and maintain a healthy weight throughout life [25].
                </p>
                </div>
            <div class="article-img">
                <img src="static/img/articles-7.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </section><!-- End articles Section -->

{% endblock %}