{% extends "main.html" %}

{% block content %}
    <!-- ======= Articles Section ======= -->
    <section id="articles" class="articles">
      <div class="container">

        <div class="section-title">
          <h2>Articles</h2>
          <p>A centralized platform for individuals seeking information and resources related to breast cancer. These articles include helpful articles and access to diagnostic tools aiming to empower and assist those impacted by breast cancer.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="/age1">Age</a></h4>
              <p>How age contributes in increasing the risk of developing breast cancer.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-diagram-3-fill"></i></div>
              <h4><a href="/first_degree2">First-degree</a></h4>
              <p>Why having a first degree relative (mother, sister or daughter) may increase the chances of developing breast cancer.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-person-arms-up"></i></div>
              <h4><a href="/first_period3">Age at first menustrual</a></h4>
              <p>Why age at first menstrual period matters when it comes to the risk factors of breast cancer.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-person-standing-dress"></i></div>
              <h4><a href="/fist_birth4">Age at first childbirth</a></h4>
              <p>How the age at first birth contributes in the risk of developing breast cancer.</p>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="/breast_density5">Breast denisty</a></h4>
              <p>What are the different breast densities and how they can contribute to developing breast cancer.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-person-fill-exclamation"></i></div>
              <h4><a href="/menopause6">Menopause</a></h4>
              <p>Why reaching menopause could increase the risk of developing breast cancer.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calculator-fill"></i></div>
              <h4><a href="/bmi7">Body mass storage</a></h4>
              <p>How body weight and weight gain in general can contribute to developing breast cancer.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End articles Section -->

  </main><!-- End #main -->
{% endblock %}