{% extends "main.html" %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to AMNA</h1>
      <h2>Take the test, be safe, be AMNA...</h2>
    </div>
  </section><!-- End Hero -->
      <!-- ======= Why Us Section ======= -->

    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose AMNA?</h3>
              <p>
                AMNA is concerned with everything related to breast cancer and provides powerful prediction tools so one doesn't have to go through a million other sites to find information. Knowing the risk of developing breast cancer early on is proved by research to increase the chances of survival and early treatment. The survey doesn't only determine the risk but also gives useful suggestions and if a CT scan is available one can further increase their awareness of the risk.
              </p>
              <div class="text-center">
                <p class="quot">"Once I overcame breast cancer, I wasn't afraid of anything anymore."</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Articles</h4>
                    <p>Breast cancer articles provide comprehensive information about breast cancer. These resources aim to educate the public, patients and healthcare professionals.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Risk Assessment survey</h4>
                    <p>Our risk assessment tool uses analysis techniques and machine learning algorithms to provide a risk prediction for those concered with developing breast cancer.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Breast ultrasound scan</h4>
                    <p>A powerful tool that helps those concerned to predict their risk of developing breast cancer through their ultrasound scan images. It's a readily available tool that can be used anywhere, anytime easily to understand ultrasound scans quickly.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>A centralized platform for individuals seeking information and resources related to breast cancer. These services include helpful articles and access to diagnostic tools aiming to empower and assist those impacted by breast cancer.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="/articles">Articles</a></h4>
              <p>Read more about breast cancer to increase your knowledge and awareness</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4><a href="/survey">Risk Assessment survey</a></h4>
              <p>Enter your personal medical history to assess your risk of developing breast cancer</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="/ct_scan">Breast ultrasound Scan</a></h4>
              <p>Upload your breast ultrasound scan and see the result imediately</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= About us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="section-title">
        <h2>About Us</h2>
      </div>
      <div class="container">
        <div class="about-us-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static\img\about-us\aya.jpeg" class="testimonial-img" alt="">
                  <h3>Aya Hossam</h3>
                  <h4>Machine Learning, Back-End Developer &amp; Team Leader</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    As part of our project, Aya developed a risk assessment model that leverages survey data to predict cancer risk.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End About us item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static\img\about-us\ahmed.jpeg" class="testimonial-img" alt="">
                  <h3>Ahmed Abdellateef</h3>
                  <h4>Machine Learning, Mobile Application &amp; Database </h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Ahmed developed our powerful CT scan analysis tool. This AI-driven model analyzes user-uploaded CT scans and categorizes them as malignant, benign, or normal.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End About us item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static\img\about-us\sama.jpeg" class="testimonial-img" alt="">
                  <h3>Samaa Ibrahim</h3>
                  <h4>Back-End Developer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Sama ensured seamless communication between the user interface and the back-end server. Additionally, she developed the APIs that drive the website's various features.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End About us item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static\img\about-us\abdallah.jpeg" class="testimonial-img" alt="">
                  <h3>Abdallah Mohamed</h3>
                  <h4>Mobile Application &amp; Database</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Abdallah played a role in developing our mobile application and contributed to the database's development.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End About us item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static\img\about-us\menna.jpeg" class="testimonial-img" alt="">
                  <h3>Menna Ghoneim</h3>
                  <h4>Front-End Developer &amp; UI/UX</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Menna is the creative force behind the user interface (UI) and user experience (UX) of our project. She also developed the front-end of the website.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            
            <!-- About us item -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static\img\about-us\mahmoud.jpg" class="testimonial-img" alt="">
                  <h3>Mahmoud Morsy</h3>
                  <h4>Mobile Application</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    As part of the development team, Mahmoud contributed to developing the mobile application.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- About us item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End about-us Section -->

{% endblock %}