{% extends "main.html" %}

{% block content %} 
<!-- ======= Sign Section ======= -->
<div class="form-container">

<!-- forgot password Form -->
<form class="forgot-password-form" onsubmit="handleChangePassword(event)">
    <h2>Create new password</h2>
    <div class="form-group">
        <label for="change-password-user-email">Email:</label>
        <input type="email" id="change-password-user-email" name="change-password-user-email" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Forgot Password">
    </div>


    <div class="form-group switch-form">
        <p>Don't have an account? <a href="/register" onclick="switchForm('register-form')">Register here</a></p>
    </div>
</form>

<div id="custom-alert" class="hidden">
    <span class="alert-message"></span>
    <button id="close-alert">Close</button>
</div>
</div>

{% endblock %}