{% extends 'main.html' %}
{% block content %}

<!-- ======= verification section ======= -->

<div class="message-container">
  <p style="color: rgb(228, 56, 56); text-align: center; font-size: large;">Password reset URL is invalid or has expired. Please try again.</p>

    <div style="text-align: center; font-size: large;">
        <span>
            <a href="{{ url_for('new_password_form') }}">Reset password</a>
            <br>
            <a href="{{ url_for('login') }}">Login</a>
            <br>
            <a href="{{ url_for('index') }}">Home</a>
        </span>
    </div>
</div>
  <!-- End verification Section -->
{% endblock %}