{% extends "main.html" %}

{% block content %}
<div class="form-container">

  <form class="change-password-form" action="" method="POST">
    <h2>Reset Your Password</h2>

    <div class="form-group">
      <label for="new-password">New Password:</label>
      <input type="password" id="new-password" name="new-password" required>
    </div>

    <div class="form-group">
      <label for="confirm-reset-password">Confirm Password:</label>
      <input type="password" id="confirm-reset-password" name="confirm-reset-password" required>
    </div>

    <div class="form-group">
      <input type="submit" onclick="verifyPassword(event)" value="Change Password">
    </div>

  </form>

  <div id="custom-alert" class="hidden">
    <span class="alert-message"></span>
    <button id="close-alert">Close</button>
  </div>

</div>

{% endblock %}